{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="pt-5">
    <div class="container" style="max-width: 1000px;">
        <div class="col-12">
            <h1 class="h2">Your Dashboard</h1>
        </div>
        <div class="col-12 d-flex justify-content-between">
            <div>Manage your <b>orders</b> and personal details.</div>
            <div><a href="{% url 'account:edit_details' %}">Change Details</a></div>
        </div>
        <hr>
    </div>
</div>
<div class="container" style="max-width: 1000px;">
    {% for order in orders %}
    <div class="row g-3">
      
      <div class="col-12 bg-light p-3 d-flex justify-content-between">
        <div class="d-flex d-flex-inline">

          <div class="pe-3">{{ order.created }}</div>
          &nbsp;
            <div class="dropdown">
            <a class="text-reset dropdown-toggle text-decoration-none" type="link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dispatched to
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li class="item small">{{order.full_name}}</li>
                <li class="item small">{{order.address1}}</li>
                <li class="item small">{{order.address2}}</li>
                <li class="item small">{{order.post_code}}</li>
            </div>
            </div>
        </div>
        <div class="text-end">
          Total paid: <span class="fw-bold">₹{{ order.total_paid }}</span>
        </div>
      </div>
      <div class="col-md-5 col-lg-4 order-md-last p-0 order-3">
        <div class="d-grid gap-2 ">
          <button class="btn btn-warning" type="button">Problem with order</button>
          <button class="btn btn-light" type="button">Leave a review</button>
        </div>
      </div>

      <div class="col-md-7 col-lg-8 p-0">

        {% for item in order.items.all %}

        <div class="card mb-3 border-0">
          <div class="row g-0">
            <div class="col-md-2 d-none d-md-block">
              <img class="img-fluid" style="width:100%" src="{{item.product.image.url}}" />
            </div>
            <div class="col-md-10">
              <div class="card-body p-1">
                <a class="text-decoration-none" href="{{ item.product.get_absolute_url }}">
                  <p class="card-text small">{{item.product|title}}</p>
                </a>
              </div>
            </div>
          </div>
        </div>

        
        {% endfor %}
      </div>

    </div>
    {% endfor %}
</div>

{% endblock %}