{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
<div class="row no-gutter">
    <div class="col-md-12">
        <div class="d-flex align-items-center py-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-7 mx-auto">
                    <form action="." method="POST" class='px-4 pt-4 col-lg-8 mx-auto'>
                        {% if user_form.is_valid %}
                        <div class="alert alert-info" role="alert">
                            Details successfully updated!
                        </div>
                        <p class="small text-center pt-0">
                            <a href="{% url 'account:dashboard' %}">Back to Dashboard</a>
                        </p>
                        {% else %}
                        <h3>Update Profile</h3>
                        <p>You can edit your account using the following form:</p>
                        {% endif %}
                        {% csrf_token%}
                        {{user_form}}
                        <button type="submit" class="btn btn-block btn-info w-100 py-2 mb-4 mt-5 fw500">Update</button>
                    </form>
                    <form action="{% url 'account:delete_user' %}" method='post' class="col-lg-8 mx-auto px-4">
                        {% csrf_token %}
                        <h3 class="pt-4 font-weight-bold">
                            Delete Account!
                        </h3>
                        <p>Are you sure you want to delete your account?</p>
                        <button type="submit" class="btn btn-danger btn-block py-2 mb-4 mt-5 fw-bold w-100">Delete</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}