{% extends '../base.html' %}

{% block title %}
Books in {{category.name|title}}
{% endblock %}

{% block content %}

        <form action="" method="get" class="form mb-4">
          <div class="input-group mb-3">
            <input type="Search" class="form-control" placeholder="Search Books" />
            <div class="input-group-append">
              <button class="btn btn-outline-primary btn-sm" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>

        <h1>Latest Books in {{category.name|title}}</h1>

<div class="row">

  {% for product in products %}
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">

    <div class="card shadow-sm my-3 p-3 rounded">
      <a href="{{product.get_absolute_url}}">
        <img src="{{product.image.url}}" alt="" class="card-img-top image-fluid">
      </a>
      <div class="card-body">
        <div class="cad-title">
        {% if product.title|length <= 20 %}
          <h5 class='my-2'><a class="text-decoration-none text-dark" href="{{product.get_absolute_url}}" title='{{product.title}}'>{{product.title}}</a></h5>
        {% else %}
          <h5 class='my-2'><a class="text-decoration-none text-dark" href="{{product.get_absolute_url}}" title='{{product.title}}'>{{product.title|slice:17}}...</a></h5>
        {% endif %}
          <small class='text-muted'>{{product.author}}</small>
        </div>
        <div class="card-text my-2">{{product.description|slice:30}}...</div>
        <div class="card-text">
          <h3 class='mt-3 text-right'>₹{{product.price}}</h3>
        </div>
      </div>
    </div>

  </div>
  {% endfor %}
</div>

<!-- Pagination -->

{% include 'shop/pagination.html' %}

{% endblock %}