{% extends '../base.html' %}

{% block title %}
{{product.title}}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <img src="{{product.image.url}}" alt="" class="img-fluid border">
    </div>

    <div class="col-md-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><h3>{{product.title}}</h3></li>
            <li class="list-group-item">Author: {{product.author}}</li>
            <li class="list-group-item">Price: ₹{{product.price}}</li>
            <li class="list-group-item">Description: {{product.description|linebreaks}}</li>
        </ul>
    </div>

    <div class="col-md-3">
        <ul class="list-group list-group mb-3">
            <li class="list-group-item">
                <div class="row">
                    <div class="col">Price: </div>
                    <div class="col"><strong>₹{{product.price}}</strong></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col">Status: </div>
                    <div class="col">
                        {% if product.in_stock %}
                        In stock
                        {% else %}
                        Out of stock
                        {% endif %}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col">Quantity: </div>
                    <div class="col">
                        {% if product.in_stock %}
                        <select class="form-control" id='select'>
                            <option selected>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        {% else %}
                        <select class="form-control" disabled>
                            <option selected>0</option>
                        </select>  
                        {% endif %}                      
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                {% if product.in_stock %}
                <button type='button' id='add-button' value="{{product.id}}" class="btn btn-info btn-block">Add to cart</button>
                {% else %}
                <button type='button' class="btn btn-primary btn-block" disabled>Add to cart</button>
                {% endif %}
            </li>
        </ul>        
    </div>
</div>

<script>
    $(document).on('click','#add-button',function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket_add" %}',
            data: {
                productid: $('#add-button').val(),
                productqty: $('#select option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function(json){
                document.getElementById('basket-qty').innerHTML = json.qty
                location.replace("{% url 'basket:basket_summary' %}")
            },
            error: function(xhr,errmsg,err){}
        });
    });
</script>
{% endblock %}