{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://kit.fontawesome.com/cc52db2e78.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <title>{% block title%}{% endblock %}</title>
  </head>
  <body>
    {% include 'shop/navbar.html' %}
    <div class="container">
      <main class='pt-3'>
      {% block content %}

      {% endblock %}
      </main> 
    </div>
    {% include 'shop/footer.html' %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
